<div>
    <app-modal>
        <div class="p-2 flex flex-col gap-2 max-w-md">
            <h1 class="text-lg">Login</h1>
            <div class="flex flex-col gap-2 items-center">
                <button class="main-button">
                    Fazer login com o Google
                </button>
                <button class="main-button">
                    Fazer login com o Facebook
                </button>
            </div>
            <div class="text-sm text-gray-500">
                Ao fazer login, você concorda com nossos
                <a class="underline cursor-pointer">
                    Termos de Serviços
                </a>
                e
                <a class="underline cursor-pointer">
                    Política de Privacidade
                </a>
            </div>
        </div>
    </app-modal>
</div>