<app-nav>
    <div class="flex flex-row items-center px-2">
        <div class="flex flex-row gap-1 items-center text-blue-500  ">
            <fa-icon size="lg" [icon]="faHeadphones"></fa-icon>
            <div class="text-lg font-semibold">Musiks</div>
        </div>
        <div class="ml-auto"></div>
        <a class="icon-button">
            <fa-icon size="lg" [icon]="faHistory"></fa-icon>
        </a>
    </div>
    <div class="h-12 flex flex-row gap-2 overflow-auto scrollbar-hide p-2 bg-white sticky top-0 z-50">
        <button class="whitespace-nowrap bg-gray-200 active-scale px-3 py-1 rounded-full"
            *ngFor="let category of categories">
            {{category}}
        </button>
    </div>
    <div class="flex flex-col gap-6 pt-6 overflow-x-hidden">
        <app-session intro="parecido com" name="Coldplay">
            <app-musics-row></app-musics-row>
        </app-session>
        <app-session intro="mais de" name="The Chainsmokers">
            <app-musics-cols [maxRows]="3"></app-musics-cols>
        </app-session>
        <app-session intro="mais de" name="The Chainsmokers">
            <app-musics-row></app-musics-row>
        </app-session>
    </div>
</app-nav>